h1{
    display: inline-block;
    color:blueviolet;
    background:yellow;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

}
h1:hover{
    color:brown;
    transform: scale(1.1);
}
body{
    background: white; 
    
}